body{
    display:flex;
    flex-direction:column;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vmax;

}
.container{
    display: flex;
    border: black solid 1vmin;
    border-radius: 1vmax;
    padding: 2vmax;
    flex-direction: column;
    overflow: hidden;
    }

.hdiv{
    display:flex;
    flex-direction:row;
}

.tile{
    display: flex;
    background-color: grey;
    width: 10vmax;
    height:10vmax;
    margin:0.5vmin;
    border-radius: 1vmax;
    align-items: center;
    justify-content: center;
    transition: ease-in 200ms;
}

#blocker{
    display:none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top:0;
    right:0;
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.404);
}

#modal{
    background-color: white;
    display:flex;
    flex-direction: column;
    width: fit-content;
    border: black solid 1vmin;
border-radius: 0.5vmax;
padding: 0.5vmax 1vmax 2vmax;

}

.tilehovero:hover{
    background-color: red;
}
.tilehoverx:hover{
    background-color: blue;
}
